<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Health Centre Ireland{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/index.css') }}"/>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('redcross.ico') }}" />
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Health Centre Ireland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <img class="redcross"
             src="https://bit.ly/2GPYX3P" alt="redcross" height="40" width="40">
    </div>
</nav>



{% block body %}
    <div class="inner cover">
        <h1 class="cover-heading">Welcome to Health Centre Ireland!</h1>
        <p class="lead">
            This is a web application with dynamic registration based on the illness the user signs up with.
            Find out information regarding your illness, such as exercises and method to potentially relive pain, along with
            useful phone numbers and information for organization which deal with the illness you have signed up with.</p>
        <p class="lead">
            The current illness' supported by the website are Alzheimer's, Arthritis, Lung Cancer, Depression and Diabetes.
            Customise your own schedule with expected medical appointments, or exercise appointments for your specified illness.</p>
        <p class="lead">
            <a href="{{ path('login') }}" class="btn btn-lg btn-secondary">Log In</a>
            <a href="{{ path('registration') }}" class="btn btn-lg btn-secondary">Register</a>
        </p>
    </div>

    <div class="pageExampleImages">
    <img class="slideshow imageanimation" src="{{ asset('images/pageExample.png') }}" alt="Example Page1" height="400" width="600">
    <img class="slideshow imageanimation" src="{{ asset('images/pageExample2.png') }}" alt="Example Page2" height="400" width="600">
    <img class="slideshow imageanimation" src="{{ asset('images/pageExample3.png') }}" alt="Example Page3" height="400" width="600">
    </div>

    <footer>
    <div class="mastfoot">
        <div class="inner">
            <p>Web Application Designed by <a href="mailto:b00082154@student.itb.ie">Dylan Byrne</a>, for <a href="http://www.itb.ie/" target="_blank">The Institute of Technology Blanchardstown</a>.</p>
        </div>
    </div>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('libraries/slideshowImage.js') }}"></script>
{% endblock %}
</body>
</html>