{% extends "base.html.twig" %}

{% block title %}Blog Posts{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blogStyle.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="blog-header">
            <h1 class="blog-title">Blog</h1>
            <p class="lead blog-description">A blog where people with an illness can communicate with other members, or talk about their own personal experience in battling their illness.</p>
        </div>

        <div class="row">
            <div class="col-sm-8 blog-main">
                {% for blogPost in blogPosts %}
                    {% set paragraphs = blogPost.description|split('</p>') %}
                    {% set firstParagraph = paragraphs|first ~ '</p>' %}
                    <div class="blog-post">
                        <h2 class="blog-post-title">
                                {{ blogPost.title }}
                        </h2>
                        <p class="blog-post-meta">
                            {{ blogPost.getUpdatedAt|date('F j, Y') }} by

                            {% if blogPost.member %}
                                    {{ blogPost.member.username }}
                            {% else %}
                                Unknown Member
                            {% endif %}
                        </p>
                        {{ firstParagraph|raw }}<br />
                        <a href="{{ path('userentry', {'slug': blogPost.slug}) }}">Read more</a>
                        <br>
                        <a class="btn btn-danger" href="{{ path('delete_entry', {'entryId': blogPost.id}) }}">Delete</a>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <p>There are currently no articles in this Blog.</p> <a href="{{ path('create_entry') }}"> Create One!</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}