{% extends 'base.html.twig' %}

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/illnessPage.css') }}"/>
    {% endblock %}

{% block body %}
    <div class="art">
        <div class="container">
            <h1>Arthritis Care</h1>
            <p>You have signed up to the app with your specified illness being Arthritis.</p>
            <p>Try exploring our app!</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
                <div class="col-sm">
                    <div class="column1">
                        <a class="arthritisCare" href="{{ path('arthritisinformation') }}">Arthritis Care & Exercises</a>
                    </div>
                    <img src="{{ asset('images/ArthritisWordBall.jpg') }}" alt="Hands With Arthritis" height="300" width="350">
                </div>
                 <div class="col-sm">
                     <div class="column2">
                         <a class="arthritisIreland" href="{{ path('arthritisireland') }}">Arthritis Ireland</a>
                     </div>
                     <img src="{{ asset('images/ArthritisIreland.jpg') }}" alt="Arthritis Ireland Logo" height="300" width="350">
                 </div>
        </div>
    </div>

{% endblock %}
